extends layout

block content
  p Hello

//- div.wrapper.container
//- - const upDog = dog.toUpperCase();
//-   p.hello Hello! My dog's name is #{upDog}
//-   span#yo Yo!!
//-   img.dog(src="dog.jpg" alt="Dog")
//-   //- p.hello Hello! My dog's name is #{dog.toUpperCase()}
//-   //- img.dog(src="dog.jpg" alt=`Dog ${dog}`)

//- h2
//-   | Hello
//-   em How are you?